.profile {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: #c28e0e;
  margin-top: 1rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.text-desc {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 1rem;
}

.name {
  height: 15px;
  margin-bottom: 10px;
}

.desc-us {
  background-color: rgb(248, 216, 86);

  height: 10rem;
  width: 10rem;
  overflow-wrap: break-word;
}

.profile-img {
  width: 12rem;
  height: 15rem;
}

.historyItem {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: #ceb888;
  width: 10rem;
  padding: 20px;
  border-radius: 1rem;
  transition: all 0.2s;
  animation: ease-in-out;
  cursor: pointer;
}

.historyItem:hover {
  transform: scale(1.1);
}

.historyItemName {
  height: 15px;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
}

.historyItemPrice {
  height: 15px;
  width: 100px;
  margin: 10px;
}

.histories {
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.historyImg {
  width: 10rem;
}

.btn {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #c28e0e;
  font-weight: 900;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  transition: all 1s;
  animation: ease-in-out;
  font-size: 1rem;
}

.btn:hover {
  color: black;
  box-shadow: 3px 3px 3px black;
}
